:root{
    --background-color: rgb(76, 2, 54);
    --font-color: white;
}
*{
    margin: 0;
}
/*HEADER*/
header{
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}
header h1{
    text-align: center;
    padding: 1rem;
}
/*MAIN*/
main{
    height: 80vh;
    text-align: center;
    align-content: center;
}

/*FOOTER*/
footer{
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 1rem;
}
footer p{
    text-align: center;
}
